Repository cm-ayf/fidc-old: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

add reformat to ignore revs
  .git-blame-ignore-revs
Due: none

add ci workflow
  .github/workflows/ci.yml
Due: prettier --write

change adapter
  package.json
  pnpm-lock.yaml
  svelte.config.js
Due: eslint --fix, prettier --write

add well-known files
  plugins/well-known.ts
  vite.config.ts
Due: eslint --fix, prettier --write

ignore underscore-prefixed unused vars
  .eslintrc.cjs
Due: none

remove dependencies
  plugins/well-known.ts
Due: eslint --fix, prettier --write

add db model
  package.json
  pnpm-lock.yaml
  src/app.d.ts
  src/lib/server/db/index.ts
  src/lib/server/db/model.ts
  src/lib/server/db/models/user.ts
Due: eslint --fix, prettier --write

add forgotten props in openid-configuration
  plugins/well-known.ts
Due: eslint --fix, prettier --write

partially implement signup
  package.json
  pnpm-lock.yaml
  src/app.html
  src/lib/attestation.ts
  src/lib/base64url.ts
  src/lib/cbor.ts
  src/lib/client-data.ts
  src/lib/server/db/index.ts
  src/lib/server/db/model.ts
  src/lib/server/db/models/authenticator.ts
  src/lib/server/db/models/user.ts
  src/routes/attestation/options/+server.ts
  src/routes/attestation/result/+server.ts
  src/routes/signup/+page.svelte
Due: eslint --fix, prettier --write

update pnpm
  .github/workflows/ci.yml
  pnpm-lock.yaml
Due: prettier --write

change from global to globalThis
  src/lib/base64url.ts
Due: eslint --fix, prettier --write

fix style import
  src/app.html
  src/routes/+layout.svelte
Due: eslint --fix, prettier --write

init d1 + prisma + kysely
  .gitignore
  package.json
  pnpm-lock.yaml
  prisma/migrations/20230926123053_init_user/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  scripts/migration.d.ts
  scripts/migration.js
  wrangler.toml
Due: eslint --fix, prettier --write

add authenticator schema
  prisma/migrations/20230926132254_authenticator/migration.sql
  prisma/schema.prisma
Due: none

.
  package.json
  pnpm-lock.yaml
  src/app.d.ts
  src/hooks.server.ts
  src/lib/algorithms/ec2.ts
  src/lib/algorithms/index.ts
  src/lib/algorithms/okp.ts
  src/lib/algorithms/types.ts
  src/lib/attestation.ts
  src/lib/attestation/authenticator.ts
  src/lib/attestation/types.ts
  src/lib/attestation/verify/android-key.ts
  src/lib/attestation/verify/android-safetynet.ts
  src/lib/attestation/verify/fido-u2f.ts
  src/lib/attestation/verify/index.ts
  src/lib/attestation/verify/packed.ts
  src/lib/attestation/verify/tpm.ts
  src/lib/base64url.ts
  src/lib/error.ts
  src/routes/attestation/options/+server.ts
  src/routes/attestation/result/+server.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,svelte}
  prettier --write: (any of: *.{js,ts,svelte}) or (any of: *.{json,yml})
